<div class="vertical-center stats-nav">
  {{#link-to 'dice.stats' (query-params statsMode='same-and-up')}}Needed Pair and Up{{/link-to}}
  {{#link-to 'dice.stats' (query-params statsMode='alone')}}Specific Pair{{/link-to}}
</div>

<table>
  <thead>
    <th></th>
    {{#each columns}}
      <th>{{pair}}</th>
    {{/each}}
  </thead>
  {{#each}}
  <tr>
    <td class="column-head">{{dice}}</td>
    {{#each chances}}
      <td>{{percent}}</td>
    {{/each}}
  </tr>
  {{/each}}
</table>
