@import 'nib';

.vertical-center {
  display: flex;
  justify-content: center;
}

.dice-nav {
  a {
    margin: 1rem;
    font-size: 2rem;
  }
}

@media (max-device-width: 5in) {
  .dice-nav {
    a {
      font-size: 2rem;
    }
  }
}
