<div class="vertical-center">
  <div class="dice-nav">
    {{#link-to 'dice.roller'}}Roller{{/link-to}}
    {{#link-to 'dice.stats'}}Stats{{/link-to}}
  </div>
</div>

<div class="vertical-center">
  {{outlet}}
</div>
